<!DOCTYPE html>
<html>
    <head>
        <link href="/stylesheets/header.css" rel="stylesheet" type="text/css"/>
        <title> JD's Casino </title>
    </head>

    <body>
        <div class="site-header"> JD's Casino </a></div>
        <%= yield %>
    </body>
</html>